%table#t1{:width => '96%'}
  %tr#shapka
    %th{:width => '100%', :height => '10%', :align => 'left'}
      =t(:forum_message)
    %tr
      %th#title{:width => '100%', :height => '30%', :align => 'left'}
        =flash[:permission_message]
