=radio_button_tag "rec_meth", 0, inner
%span By internal report system
%br
=radio_button_tag "rec_meth", 1, email
%span By e-mail
%br
=radio_button_tag "rec_meth", 2, inner_and_email
%span Both by inner system and by e-mail 