-#copied from admin/display_email_radiobuttons
=radio_button_tag "users[howshowemail]",0, show
=t(:display_email)
%br
=radio_button_tag "users[howshowemail]",1,hide_but_permit_send
=t(:hide_email_but_allow)
%br
=radio_button_tag "users[howshowemail]",2,hide
=t(:hide_email_and_disallow)