%table#t1{:width => "96%"}
  %tr#shapka
    %th{:width => "100%", :height => "10%", :align => "left"}
      BBCode help
  %tr
    %td
      .inform_mess
        Administrators have the ability to enable or disable BBCode. If BBCode is enabled a link to BBCode help will appear when you compose/edit a post or your signature. BBCode is a collection of formatting tags that are used to change the look of text in this forum. BBCode is based on the same principal as, and is very similar to, HTML. Below is a list of all the available BBCodes and instructions on how to use them.
        
      