%table#t1{:width => "96%"}
  %tr#shapka
    %th{:width => "100%", :height => "10%", :align => "left"}
      Help with Images
  %tr
    %th
      .inform_mess
        Administrators have the ability to enable or disable the display of images in posts and/or signatures. 
        If image display is enabled a link to Image help will appear when you compose/edit a post or your signature. 
        Images are inserted using the BBCode [img] tag. The text appearing after the = sign in the opening tag is used for the alt attribute and should be included whenever possible.