!!!
%html
  %head
    ="<meta http-equiv='refresh' content=\"#{@redirect_timeout};#{@redir_link}\">"
    %title
      =h @title
  %body
    =javascript_include_tag :defaults
    =stylesheet_link_tag :all
    =stylesheet_link_tag "#{@forum_style}/#{@forum_style}"
    %table#t1{:width => '70%', :class => 'redirect'}
      %tr#shapka_title
        %td
          =@title
      %tr
        %td{:align => 'left'}
          -if @redirect_timeout > 1
            =t(:you_should_auto)
            =@redirect_timeout
            =t(:seconds)
          -else
            =t(:one_second)
          %br
          %br
          =link_to t(:click_here_if), @redir_link
          