%table#t1{:width => "96%"}
  %tr#shapka
    %th{:width => "100%", :height => "10%", :align => "left"}
      Help with Smilies
  %tr
    %td
      If you like (and if it is enabled), the forum can convert a selection of smilies to image representations of those smilies. 
      This forum recognizes the smilies listed below and replaces them with images.
      %hr{:id=>'divine_line'}
      %br
      %br
      =":) and =) produces "
      =replace_smilies_with_icons ':)'
      %br
      %br
      =":| and =| produces "
      =replace_smilies_with_icons ':|'
      %br
      %br
      =":( and =( produces "
      =replace_smilies_with_icons ':('
      %br
      %br
      =":D and =D produces "
      =replace_smilies_with_icons ':D'
      %br
      %br
      =":o and :O produces "
      =replace_smilies_with_icons ':O'
      %br
      %br
      =";) produces "
      =replace_smilies_with_icons ';)'
      %br
      %br
      =":P and :p produces "
      =replace_smilies_with_icons ':P'
      %br
      %br
      =":lol: produces "
      =replace_smilies_with_icons ':lol:'
      %br
      %br
      =":mad: produces "
      =replace_smilies_with_icons ':mad:'
      %br
      %br
      =":rolleyes: produces "
      =replace_smilies_with_icons ':rolleyes:'
      %br
      %br
      =":cool: produces"
      =replace_smilies_with_icons ':cool:'