%table{:width => '90%'}
  %tr
    %td{:align => 'right', :bgcolor => "#ffcc00"}
      =submit_tag t(:move)
      &nbsp;
      =submit_tag t(:del)
      &nbsp;
      =submit_tag t(:merge)
      &nbsp;
      =submit_tag t(:open)
      &nbsp;
      =submit_tag t(:close)
            