%table{:width => '90%'}
  %tr
    %td{:align => 'right', :bgcolor => "#ffcc00"}
      =submit_tag t(:del_posts), :name => 'delete_selected_posts'
      &nbsp;
      =submit_tag t(:split), :name => 'split_selected_posts'
      &nbsp;
      =submit_tag t(:del_topic), :name => 'delete_this_topic'