="Hello, #{@login}."

="You make request to change e-mail address that specifying in your profile on  |
#{@site}. If you don't want to change email or make no request ignore it."            |


="To change email follow to next link:"
=link_to confirm_link, confirm_link

="Delivered by email robot."
="(don't repsond to this message)"

