-form_tag :action => 'change_alien_password', :id => params[:id] do |f|
  -field_set_tag t(:change_password) do
    .formError
      =error_message_on 'usr', "passwd", :css_class => 'inform_mess'
    #custom_param
      %span
        =label_tag t(:new_password)
      #custom_profile_tz
        =text_field_tag 'users[passwd]', nil, :size => 20, :maxlength => 32
    %br
    #custom_param
      %span
        =label_tag t(:new_password_confirmation)
      #custom_profile_tz
        =text_field_tag 'users[passwd_confirmation]', nil, :size => 20, :maxlength => 32
    %br
  =submit_tag t(:change)